<!DOCTYPE html>
<html lang="en">
    <title> YAML to JSON</title>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>YAML to JSON Converter</h1>
    <body>
        <div class="container">  
            
            <textarea rows = "50" cols = "60" name = "description">{{conved_json}}</textarea><br>
             <a href ="{{url_for('landing_page')}}">
                <button type="link"> Convert Another File</button>
            </a>
        </div>    
        </body>
</html>