<!DOCTYPE html>
<html lang="en">
    <title> YAML to JSON</title>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>YAML & JSON Converter</h1>
    <body>
        <div class="container">  
            <a href ="{{url_for('yaml_land_page')}}">
                <button type="link"> Convert YAML to JSON</button>
            </a>
            <a href ="{{url_for('json_land_page')}}">
                <button type="link"> Convert JSON to YAML</button>
            </a>
        </div>    
        </body>
</html>