<!DOCTYPE html>
<html lang="en">
    <title> YAML to JSON</title>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>YAML to JSON Converter</h1>
            
    <body>
        <h3>Place your YAML file here</h3>

        <div class="container">  
            <form action="{{url_for('convert_2_json')}}" method="Post">
                <textarea rows = "50" cols = "75" name = "yaml_text"></textarea><br>
                <button type="link"> Convert YAML to JSON</button>
            </form>
        
            
        </div>    
        </body>
</html>